<form id="settings_plugin_portlister" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Autoconnect delay:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('The port is often detected before the printer is ready to connect. Delay this number of seconds before trying.') }}">
            <div class="input-append">
                <input type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.portlister.autoconnect_delay">
                <span class="add-on">secs</span>
            </div>
        </div>
    </div>
</form>
